      .text-center{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
      .text-left{
        text-align: left;
      }
              
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
      }

      .page-break {
        page-break-after: always;
      } 

      table {
        font-size: 11px;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
      }
      :not(.headdoc) table td{
        padding: 0 3px;
      }
      
    table.table-bordered,
    .table-bordered>tbody>tr>td {
        border: 1px solid #707070;
    }
    thead>tr {
      font-size: 12px;
      background-color: #707070 !important;
      color: white !important;
      border-radius: 3px 3px 0 0;
    }
  
      .headempresa {
        font-size: 12px !important;
        border-radius: 20px 0 0 0px;
        width: 100%;
        height: auto;
        border: 2px solid #707070;
      }

      .headdoc {
        font-size: 12px !important;
        margin: 0px;
        border-radius: 0px 20px 0px 0px;
        width: 100%;
        height: auto;
        border: 2px solid #707070;
        border-left: 10px solid #707070;
        background-color: #cfcfcf;
        padding: 0 1rem;
      }

      .subhead{
        font-size: 12px;
        border: 2px solid #707070;
        width: 100%;
        border-radius: 0 0 20px 20px;
        padding-left: 15px;
      }

      .headempresap {
        font-size: 10px;
        border-radius: 20px 0 0 0px;
        width: 100%;
        border: 2px solid #707070;
      }
      
      .headdocp {
        font-size: 12px;
        margin: 0px;
        width: 100%;
        border: 2px solid #707070;
        border-left: 10px solid #707070;
        /*background-color: #cfcfcf;*/
        padding: 0 1rem;
      }

      .subheadp{
        font-size: 11px;
        border: 2px solid #707070;
        width: 100%;
        border-radius: 0 0 20px 0px;
        padding-left: 15px;
      }