@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;500&family=Oswald:wght@300&display=swap');

.checkoutHeader {
    width: 100%;
}

.checkoutHeader .checkoutHeader__logoHeader {
    display: flex;
    justify-content: center;
}

.checkoutHeader .checkoutHeader__logoHeader img {
    max-width: 60px;
}

img {
    width: auto;
    height: auto;
    max-width:  60px;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a {
    color: #08c;
    text-decoration: none;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

@media (min-width: 768px){
    .checkoutHeader .checkoutHeader__safePurchase {
        background-color: #fff;
        border-top: none;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        text-indent: -85px;
    }

    .checkoutHeader .checkoutHeader__logoHeader {
        width: auto;
        padding-left: 30px;
        text-align: left;
        justify-content: end;
    }

    .checkoutHeader {
        border-bottom: 1px solid #FFEE40;
        padding: 5px 0;
        margin: 2px 0 35px 0;
        display: flex;
    }
}

.checkoutHeader .checkoutHeader__safePurchase p {
    color: #C3C1C1;
    margin-top: 20px;
    vertical-align: bottom;
    text-align: center;
}

.checkoutHeader .checkoutHeader__safePurchase strong {
    color: #777777;
    vertical-align: bottom;
}

#products::-webkit-scrollbar {
    width:5px;
}

#products::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#products::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#lista-productos {
   font-family: 'Barlow Semi Condensed', sans-serif;
}

#lista-productos img{
  max-width: 90px;
  border-radius: 4px;
  margin-top: 20px;
}

#lista-productos tbody td {
    padding-right: 10px;
    /*font-size: 12px;*/
}

#lista-productos th {
   /*font-size: 12px;*/
}

.contenido {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.contenido p {
    font-weight: bold;
    font-size: 24px;
}

.total_compra {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 10px 0;
}

.total_compra p {
    font-weight: bold;
    font-size: 28px;
}

.terminos {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.terminos input {
    margin-right: 20px;
    cursor: pointer;
}

.acciones {
    width: 80%;
    margin: 10px auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#comprar {
    background-color: rgb(253, 153, 67);
    border-radius: 10px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}



.acciones a {
   color: black;
   font-weight: 400;
   padding: 5px;
}
