.clearfix {
    display: block;
    content: "";
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
    order: 0;
    vertical-align:middle;
}

.header {
    margin: 0 auto;
    position: relative;
    z-index: 400;
}

@media(max-width: 468px){
    .header{
        border-bottom: none !important;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 100;
    min-height: 100px;
    height: 40px;
    padding: 5px 0;
}


.header .logo strong {
    position: absolute;
    top: -999em;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
}

.box-search-bar {
    width: 100%;
    margin: 10px 0 0;
    border: 1px solid #ddd;
}

.box-search-bar  select {
    border-right: 1px solid #ddd;
}

.box-search-bar input.input-text {
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    height: 40px;
    margin: 0;
    border: none;
    background: none;
    padding: 10px;
    font-style: italic;
}

.box-search-bar button.btn{
    padding: 0;
    float: right;
}

.box-search-bar button.btn .fa {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #a9a9a9;
    background-color: #000;
    display: block;
}

@media (max-width: 767px){
    .top-logo {
       display: flex;
       justify-content: center;
    }

    .box-search-bar input.input-text  {
        width: 50%;
    }
}

@media (max-width: 479px){
    .box-search-bar input.input-text  {
        width: 40%;
    }

    .box-search-bar select {
        float: left;
    }
}


    #carrito{
        border: 1px solid #004080;
    }


    .nav-categorias {
        display: flex;
        justify-content: center;
    }

    .nav-categorias li{
        list-style: none;
        font-size: 14px;
    }

    .nav-categorias li a {
        color: black;
    }

    .item-nav {
        position:relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .item-nav i {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .item-nav p {
        font-size: 14px;
        margin-bottom: 0 !important;
    }

.item-nav span {
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    text-align: center;
    top:-10px;
    right: 0;
    line-height: 1.5;
    display: none;
}

    .ma-menu {
        background-color: #ecf0f5;
        height: auto;
    }
    
    .navleft-container {
        position: relative;
        z-index: 400;
        float: left;
        width: 100%;
    }
    
    .megamenu-title {
        background: #000;
        padding: 15px;
        height: 48px;
        cursor: pointer;
    }
    
    .megamenu-title h2 {
        font-size: 14px;
        margin: 0;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
    }
    
    .megamenu-title .fa {
        float: right;
    }
    
    .visible-xs, tr.visible-xs, th.visible-xs, td.visible-xs {
        display: none !important;
    }
    
    
    .pt_custommenu div.pt_menu {
        float: left;
    }
    
    .megamenu-title {
        background: #000;
        padding: 15px;
        height: 48px;
        cursor: pointer;
    }
    
    .active_megamenu {
        overflow: visible !important;
        display: block !important;
    }
    
    .pt_vmegamenu {
        font-size: 14px;
        padding: 0;
        z-index: 1000;
        border: 1px solid #eee;
        padding: 5px 15px 10px 15px;
        position: absolute;
        width: 100%;
        background-color: #fff;
    }
    
    .pt_nav li  {
        border-bottom: 1px solid black;
        padding-bottom: 10px !important;
    }
    
    .pt_nav li a{
        text-transform: uppercase;   
    }
    
    
    .pt_custommenu div.pt_menu .parentMenu a, .pt_custommenu div.pt_menu .parentMenu span.block-title {
        padding: 15px 25px;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
    }
    
    .pt_custommenu {
        position: relative;
        z-index: 1000;
        margin: 0 auto;
        height: 48px;
    }
    
    .visible-lg, tr.visible-lg, th.visible-lg, td.visible-lg {
        display: none !important;
    }
    
    .pt_custommenu #pt_menu_link .parentMenu ul li {
        float: left;
        list-style: none;
        margin-bottom: 0;
    }
    
    .navbar {
        border-radius: 0;
        margin: 0;
        background-color: #e98388;
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent
    }
    
    .navbar-inner {
        border: 0 !important;
        box-shadow: none !important;
        padding: 0;
        width: 100%;
    }
    
    
    .menu-mobile {
        width: 100% !important;
        padding: 0 2%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .menu-mobile a {
       color:white !important;
       font-size: 20px;
    }
    
    .navbar .brand {
        color: #fff;
        text-transform: uppercase;
        text-shadow: none;
        font-size: 18px;
    }
    
    #ma-mobilemenu {
        height: auto;
        float: left;
        width: 100%;
        margin: 10px 0 0;
    }
    
    .mobilemenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .nav-collapse {
        text-align: left;
    }
    
    .mobilemenu ul {
        padding: 0;
        margin: 0;
        float: left;
        display: block;
        width: 100%;
    }
    
    .mobilemenu li {
        background: #faf8f8;
        cursor: pointer;
        list-style-type: none;
        padding: 0;
        margin: 0;
        float: left;
        display: block;
        width: 100%;
        position: relative;
    }
    
    li {
        list-style: none;
    }
    
    .mobilemenu li.active a, .mobilemenu a:hover {
        color: #e98388;
    }
    
    .mobilemenu a {
        text-decoration: none;
        border-bottom: 1px solid #e0d8d8;
        line-height: 40px;
        font-weight: normal;
        color: #666;
        margin: 0 15px;
        display: block;
        cursor: pointer;
        font-size: 16px;
        text-transform: capitalize;
    }
    
    @media (min-width: 992px){
        .visible-lg {
            display: block !important;
        }
    }
    
    @media (max-width: 767px){
        .visible-xs {
            display: block !important;
        }
    }