.category-image {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 0 35px;
}

del{
    text-decoration-color: rgba(0,0,0,.2);
    text-decoration-thickness: 3px;
    color: lightslategrey;
    opacity: .8;
}

.main {
    margin: 0 auto;
    min-height: 400px;
    text-align: left;
}

.pager .pages li {
    display: inline;
    margin: 0 5px;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    gap: 0;
}

@media (min-width: 768px) {
    .products-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.product-image  {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*.product-image::after
{
 box-shadow: inset 0px 0px 3px 0 #dcdcdc;
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;
}*/

.product-image:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 50ms;
    transition-timing-function: ease;
}

.products-grid .item {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.products-grid .item-inner{
    height: 100%;    
} 

.ma-box-content {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0px 0px 3px 0 #dcdcdc;
}

.label-pro-sale, .label-pro-new {
    width: 68px;
    height: 68px;
    font-size: 0;
    text-indent: -9999px;
    background: url('http://www.plazathemes.com/demo/ma_dicove/skin/frontend/ma_dicove/ma_dicove/images/sale.png') no-repeat;
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10px;
}

.label-pro-new {
    background: url('http://www.plazathemes.com/demo/ma_dicove/skin/frontend/ma_dicove/ma_dicove/images/new.png') no-repeat;
}

.products {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0px ;
}


.products > a {
    display: block;
    float: left;
    width: 100%;
    z-index: 1;
}

.product-name {
    line-height: 1;
    clear: both;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

.page-title h1{
    font-weight: bold;
}

.product-name a {
    font-size: 20px;
    font-weight: bold;
}

.ratings {
    font-size: 11px;
    line-height: 1.25;
    margin: 4px 0 0;
}

.rating-box {
    width: 69px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url(http://www.plazathemes.com/demo/ma_dicove/skin/frontend/ma_dicove/ma_dicove/images/bkg_rating.gif) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
    display: inline-block;
}

.rating-box .rating {
    float: left;
    height: 13px;
    background: url(http://www.plazathemes.com/demo/ma_dicove/skin/frontend/ma_dicove/ma_dicove/images/bkg_rating.gif) 0 100% repeat-x;
}

.ratings .amount {
    vertical-align: text-bottom;
    display: inline-block;
    height: 14px;
}

.price-box {
    margin: 5px 0;
    font-size: 15px;
}

.price {
    font-size: 18px;
}

.ma-box-content ul.add-to-links {
    display: inline-block;
    vertical-align: middle;
}

.ma-box-content ul.add-to-links li {
    display: inline-block;
}