.top-link {
    z-index: 500;
    font-size: 10px;
    color: #eeeeee;
    background-color: #000;
}

.toplink-static {
    font-size: 12px;
    padding: 10px 0;
}

.toplink-static span {
    color: #f46b6d;
}

p.welcome-msg {
    margin: 0;
    float: left;
    padding: 10px 0;
}

.top-link ul.links {
    float: right;
    margin-left: 10px;
    padding: 10px 0;
}

/*ul, ol {
    list-style: none;
    margin: 0;
}

li {
    list-style: none;
}*/

.links li {
    display: inline;  
    font-size: 12px;  
}
.links{
    display: flex;
}

.top-link ul.links li {
    padding: 0 10px;
    border-right: 1px solid #eee;
}

.links li.first {
    padding-left: 0 !important;
}

.links li i{
    font-size: 16px;
}

.top-link a {
    color: #eeeeee;
}

a {
    color: #333333;
    text-decoration: none;
}

@media (max-width: 767px){
    
    .toplink-static {
        text-align: center;
    }

    p.welcome-msg {
        width: 100%;
        text-align: center;
    }

    p-link ul.links {
        margin-right: 10px;
    }

    .top-link ul.links {
        margin-right: 10px;
        
    }
    .top-link ul.links {
        display: inline-block;
        float: none;
    }
    
}